html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #74ABE2, #02072d);
  height: 100%;
  width: 100%;
  color: #333;
}

/* Main area inside FormLayout wrapper */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
