.categorySelector button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.categorySelector button.activeCategory {
  background-color: #007bff;
  color: white;
}